<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="condition_name">condition_name</label>
        <input
          type="text"
          class="form-control"
          id="condition_name"
          required
          [(ngModel)]="condition.condition_name"
          name="condition_name"
        />
      </div>

      <div class="form-group">
        <label for="symptoms">symptoms</label>
        <input
          class="form-control"
          id="symptoms"
          required
          [(ngModel)]="condition.symptoms"
          name="symptoms"
        />
      </div>

      <div>
        <app-treatments-list
          (selectTreatment)="updateTreatment($event)"
          [inParent]="true"
        ></app-treatments-list>
      </div>

      <button (click)="saveCondition()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Condition was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newCondition()">Add</button>
    </div>
  </div>
</div>
