<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="provider.name"
          name="name"
        />
      </div>

<!--      <div class="form-group">-->
<!--        <label for="coverage_offered">coverage_offered</label>-->
<!--        <input-->
<!--          class="form-control"-->
<!--          id="coverage_offered"-->
<!--          required-->
<!--          [(ngModel)]="provider.coverage_offered"-->
<!--          name="coverage_offered"-->
<!--        />-->
<!--      </div>-->

      <div class="form-group">
        <label for="phone_number">phone_number</label>
        <input
          class="form-control"
          id="phone_number"
          required
          [(ngModel)]="provider.phone_number"
          name="phone_number"
        />
      </div>

      <div>
        <app-treatments-list
          (selectTreatment)="updateTreatment($event)"
          [inParent]="true"
        ></app-treatments-list>
      </div>

      <button (click)="saveProvider()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Provider was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newProvider()">Add</button>
    </div>
  </div>
</div>
