<div *ngIf="viewMode; else editable">
  <div *ngIf="currentCondition.id">
    <h4>Condition</h4>
    <div>
      <label><strong>Condition Name:</strong></label> {{ currentCondition.condition_name }}
    </div>
    <div>
      <label><strong>Symptoms:</strong></label>
      {{ currentCondition.symptoms }}
    </div>
    <div>
      <label><strong>Treatment Name:</strong></label>
      {{ currentCondition.treatment_name }}
    </div>

    <a
      class="badge badge-warning"
      routerLink="/conditions/{{ currentCondition.id }}"
    >
      Edit
    </a>
  </div>

  <div *ngIf="!currentCondition">
    <br />
    <p>Please click on a Condition...</p>
  </div>
</div>

<ng-template #editable>
  <div class="col-md-6">
    <div *ngIf="currentCondition.id" class="edit-form">
      <h4>Condition</h4>
      <form>
        <div class="form-group">
          <label for="condition_name">Condition Name</label>
          <input
            type="text"
            class="form-control"
            id="condition_name"
            [(ngModel)]="currentCondition.condition_name"
            name="condition_name"
          />
        </div>
        <div class="form-group">
          <label for="symptoms">Symptoms</label>
          <input
            type="text"
            class="form-control"
            id="symptoms"
            [(ngModel)]="currentCondition.symptoms"
            name="symptoms"
          />
        </div>

        <div>
          <app-treatments-list
            (selectTreatment)="updateTreatment($event)"
            [inParent]="true"
          ></app-treatments-list>
        </div>
      </form>

      <button class="badge badge-danger mr-2" (click)="deleteCondition()">
        Delete
      </button>

      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateCondition()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>

    <div *ngIf="!currentCondition.id">
      <br />
      <p>Cannot access this Condition...</p>
    </div>
  </div>
</ng-template>
