<div *ngIf="inParent; else standAlone">
  <div class="list row">
    <div class="col-md-6">
      <label for="provider_name">Providers</label>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let provider of providers; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveProviderChild(provider, i)"
        >
          {{ provider.name }}
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <app-provider-details
        [viewMode]="true"
        [currentProvider]="currentProvider"
      ></app-provider-details>
    </div>
  </div>
</div>

<ng-template #standAlone>
  <div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by name"
          [(ngModel)]="name"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchName()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Providers List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let provider of providers; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveProvider(provider, i)"
        >
          {{ provider.name }}
        </li>
      </ul>

      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllProviders()">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <app-provider-details
        [viewMode]="true"
        [currentProvider]="currentProvider"
      ></app-provider-details>
    </div>
  </div>
</ng-template>
